* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  min-height: 100svh;
  overflow-x: hidden;
  overflow: hidden; /* prevent horizontal scrolling initially */
}

.container {
  min-height: 100svh;
  position: relative;
  background: linear-gradient(
    223.17deg,
    rgb(28, 24, 41) 0%,
    rgb(27, 24, 40) 8.61%,
    rgb(25, 23, 36) 17.21%,
    rgb(22, 21, 32) 25.82%,
    rgb(20, 19, 28) 34.42%,
    rgb(18, 18, 24) 43.03%,
    rgb(17, 17, 23) 51.63%
  );
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  pointer-events: none;
}

.hero-main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  transform: scale(1.25);
  background-image: url("../public/Frame\ 1.svg");
  background-size: 1000vh;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-origin: content-box;
   position: absolute;
  padding-bottom: 200px;
}

.hero-main-image {
  width: 100%;
  height: 100vh;
  /* transform: scale(1.25); */
  position: absolute;
  inset: 0;
  object-fit: cover;
}

.hero-main-logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

 width: 500px;    /* change size here */
  height: auto;   /* keep aspect ratio */

  z-index: 1;
  object-fit: contain;
}


.hero-text-logo-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: cover;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.hero-text-logo {
display:flex;

  width: 100%;
  
  inset: 0;
}

/* Scroll Indicator Styles */
.scroll-indicator {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 34px;
  height: 14px;
  z-index: 10;
}

.scroll-indicator svg {
  color: #215c71;
  width: 100%;
  height: 100%;
}

.hero-text {
 
  text-align: center;
  text-transform: uppercase;
 
  -webkit-text-fill-color: transparent;
  font-size: 5.5rem;
  background-clip: text;
  width: 100%;
  line-height: 0.9;
  margin-top: 5%;
}

.hero-2-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background: transparent;

  color: white;
  text-align: center;
}

.hero-2-container p {
  max-width: 90%;
  font-size: 1rem;
}

.hero-2-container h3 {
  font-size: 2.5rem;
}
.event-heading {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 2px;
}

/* Countdown container */
.countdown {
  display: flex;
  gap: 1.5rem;

  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) scale(0.6);
  z-index: 3;
}

/* Each box */
.time-box {
  width: 120px;
  height: 120px;

  background: #ffffff99;
  backdrop-filter: blur(10px);

  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Numbers */
.time-box span {
  font-size: 3.5rem;
  font-weight: 800;
  color: #000000;
}

/* Labels */
.time-box small {
  margin-top: 0.3rem;
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: #000000;
  opacity: 0.8;
}




.hero-2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* Hero Section */
.gallery-section {
  position: relative;
  max-width: 800px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
  transition: transform 0.4s ease;
}

.cover-image {
  width: 100%;
  display: block;
  filter: brightness(0.9);
}

.action-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  background: white;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Gallery Grid */
.gallery-view {
  width: 100%;
  max-width: 1000px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.grid-layout img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.grid-layout img:hover {
  transform: scale(1.03);
}

/* Utilities */
.hidden {
  display: none;
}

.close-btn {
  position: absolute;
  top: 20%;
  right: 100%;

  width: 80px;
  height: 42px;

  background:white;
  color: rgb(0, 0, 0);
  border: none;
    border-radius: 50px;
  font-weight: 600;

  cursor: pointer;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}





/* hide scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
.external {
  overflow: hidden;
  height: 100vh;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  transform: rotate(-90deg) translate3d(0,-100vh,0);
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 100vw;
  perspective: 1px;
	transform-style: preserve-3d;
  padding-bottom: 10rem;
}
.img-wrapper {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
  transition: 1s;
}

.img-wrapper:hover {
 min-height: 65vh;
}

.slower {
  transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
}
.slower1 {
  transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
}
.slower2 {
  transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
}
.slower-down {
  transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh) ;
}
.faster {
  transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh) ;
}
.faster1 {
  transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh) ;
}
.fastest {
  transform: rotate(90deg) translateZ(.22px) scale(0.7) translateX(-10vh) translateY(-15vh) ;
}
.vertical {
   transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%) ;
}
.last {
  transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(25vh) translateY(-8vh) ;
}
.scroll-info, header {
  position: absolute;
  left: 1rem;
}



.img-wrapper a {
  overflow: hidden;
  display: block;
  padding: 1vh ;
  background: #efecdb;
  box-shadow: 0 10px 50px #5f2f1182;
}

.img {
  max-width: 45vh;
  max-height: 50vh;
  transition: .5s;
  vertical-align: top;
  filter: saturate(40%) sepia(30%) hue-rotate(5deg);
}
a:hover .img {
  filter: none;
}

.scroll-info {
  display: flex;
  align-items: center;
}
.icon svg {
    width: 50px;
    fill: currentcolor;
}







































































@media (min-width: 1024px) {
  .hero-text {
    font-size: 6rem;
  }

  .scroll-indicator {
    bottom: 30px;
  }

  .hero-2-container {
    margin: 0 auto;
    max-width: 60%;
    padding: 0;
  }

  .hero-2-container p {
    max-width: 90%;
    font-size: 2rem;
  }

  .hero-2-container h3 {
    font-size: 3.5rem;
  }
  .event-heading {
  font-size: 3.5rem;
}

.countdown span {
  font-size: 3rem;
}


 
}




@media (max-width: 768px) {

  .hero-text {
    font-size: 3.5rem;
     margin-top: 55%;
     line-height: 1.2;
  }
  .event-heading {
    font-size: 2rem;
    line-height: 1.2;
  }

  .hero-main-logo {
  top: 40%;
 width: 320px;    /* change size here */
  height: auto;   /* keep aspect ratio */
}
  .countdown {
    gap: 1.5rem;
    transform: translateX(-50%) scale(0.4);
    top:40%;
  }

  .countdown span {
    font-size: 3.5rem;
  }

  .countdown small {
    font-size: 0.8rem;
  }


  .hero-2-container {
    padding: 1rem;
    gap: 1.5rem;
  }

 .external {
  display: flex;
  top:50%
}


  .horizontal-scroll-wrapper {
    transform: none;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 2rem;
  }

  .img-wrapper {
    transform: none !important;
    min-height: auto;
    margin: 1rem;
  }

  .img {
    max-width: 80vw;
    max-height: auto;
  }

.close-btn {

  top: 29%;
  right: 75%;

  
}



}

